<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_e84d770c88af43b48f3b935f93f524de {
        position: relative;
        width: 75.0%;
        height: 75.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_e84d770c88af43b48f3b935f93f524de" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_e84d770c88af43b48f3b935f93f524de = L.map(
        'map_e84d770c88af43b48f3b935f93f524de', {
        center: [47.376846, 8.543938],
        zoom: 11,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: false,
        });

    
    
    var tile_layer_f13627cf19ed4a9990e6c5efd32face8 = L.tileLayer(
        'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 11,
        "maxZoom": 11,
        "minZoom": 11,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_e84d770c88af43b48f3b935f93f524de);
    
        var marker_bd0898d9298d443eb9ede94844b72df3 = L.marker(
            [47.32442800000001, 8.547999],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_e84d770c88af43b48f3b935f93f524de);
        
    

                var icon_12383dc25baf4fbf9f1e92b32a999d58 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bd0898d9298d443eb9ede94844b72df3.setIcon(icon_12383dc25baf4fbf9f1e92b32a999d58);
            
    
            var popup_5b436a1a6483434da987cad02c35165e = L.popup({maxWidth: '300'
            
            });

            
                var html_8efdf61e984a4bd98cdacaca4e15d372 = $('<div id="html_8efdf61e984a4bd98cdacaca4e15d372" style="width: 100.0%; height: 100.0%;">Zug S24: 18:26:00 Kilchberg -> 18:39:00 Zürich HB</div>')[0];
                popup_5b436a1a6483434da987cad02c35165e.setContent(html_8efdf61e984a4bd98cdacaca4e15d372);
            

            marker_bd0898d9298d443eb9ede94844b72df3.bindPopup(popup_5b436a1a6483434da987cad02c35165e)
            ;

            
        
    
        marker_bd0898d9298d443eb9ede94844b72df3.bindTooltip(
            '<div>'
            + 'Kilchberg' + '</div>',
            {"sticky": true}
        );
        
    
                var poly_line_c449fcae98744eae8af8aa4d01fff033 = L.polyline(
                    [[47.32442800000001, 8.547999], [47.378177, 8.540192]],
                    {
  "bubblingMouseEvents": true,
  "color": "blue",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "blue",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_e84d770c88af43b48f3b935f93f524de);
            
    
        var marker_637802fdbb1240fa822af0dac187a160 = L.marker(
            [47.378177, 8.540192],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_e84d770c88af43b48f3b935f93f524de);
        
    
            var popup_34cc8b34c9d84a2db4acf85925142a7a = L.popup({maxWidth: '300'
            
            });

            
                var html_fcc83c26706d4afaa31cd7b2df070b8f = $('<div id="html_fcc83c26706d4afaa31cd7b2df070b8f" style="width: 100.0%; height: 100.0%;">Zug S12: 18:44:00 Zürich HB -> 18:55:00 Glanzenberg</div>')[0];
                popup_34cc8b34c9d84a2db4acf85925142a7a.setContent(html_fcc83c26706d4afaa31cd7b2df070b8f);
            

            marker_637802fdbb1240fa822af0dac187a160.bindPopup(popup_34cc8b34c9d84a2db4acf85925142a7a)
            ;

            
        
    
        marker_637802fdbb1240fa822af0dac187a160.bindTooltip(
            '<div>'
            + 'Zürich HB' + '</div>',
            {"sticky": true}
        );
        
    
                var poly_line_4e68be4808a5415fa885b50ba9af3906 = L.polyline(
                    [[47.378177, 8.540192], [47.398875, 8.420423]],
                    {
  "bubblingMouseEvents": true,
  "color": "blue",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "blue",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_e84d770c88af43b48f3b935f93f524de);
            
    
        var marker_8989d462645645acaef249d49a9d6303 = L.marker(
            [47.398875, 8.420423],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_e84d770c88af43b48f3b935f93f524de);
        
    
            var popup_eb1549498a2a45f7868481c9b3da7d7a = L.popup({maxWidth: '300'
            
            });

            
                var html_c4155134c24344898310da3d68916f4c = $('<div id="html_c4155134c24344898310da3d68916f4c" style="width: 100.0%; height: 100.0%;">Walk: 18:55:00 Glanzenberg -> 19:06:00 Urdorf, Schlierenstrasse</div>')[0];
                popup_eb1549498a2a45f7868481c9b3da7d7a.setContent(html_c4155134c24344898310da3d68916f4c);
            

            marker_8989d462645645acaef249d49a9d6303.bindPopup(popup_eb1549498a2a45f7868481c9b3da7d7a)
            ;

            
        
    
        marker_8989d462645645acaef249d49a9d6303.bindTooltip(
            '<div>'
            + 'Glanzenberg' + '</div>',
            {"sticky": true}
        );
        
    
                var poly_line_f79a433b434348f789b7c92155191f70 = L.polyline(
                    [[47.398875, 8.420423], [47.391161, 8.423155]],
                    {
  "bubblingMouseEvents": true,
  "color": "blue",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "blue",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_e84d770c88af43b48f3b935f93f524de);
            
    
        var marker_6bbf258b3b5e452caddf95e70c8fe4aa = L.marker(
            [47.391161, 8.423155],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_e84d770c88af43b48f3b935f93f524de);
        
    

                var icon_5671587f87684c289d461dc11a2b090a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6bbf258b3b5e452caddf95e70c8fe4aa.setIcon(icon_5671587f87684c289d461dc11a2b090a);
            
    
        marker_6bbf258b3b5e452caddf95e70c8fe4aa.bindTooltip(
            '<div>'
            + 'Urdorf, Schlierenstrasse' + '</div>',
            {"sticky": true}
        );
        
</script>